
body {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #16143C), color-stop(1.0, #5866C3));
    color: black;
	font-family: sans-serif;
    font-family:sans-serif; 
    margin: 0px;
    padding: 0px;
}

.subtitle { color: #666666; text-align: right; font-size: small; padding-top: 0px; }

h2 { margin-top: 0px; }

div.main { padding: 15px;  background-color: rgba(255, 255, 255, 0.85);  margin-bottom: 10px; }

div.main p:first-child {
    margin-top: 0px;
}

div.content {	
    background-image: url('./Background.png');
    background-size: 320px 568px;
    min-height: 100%;
    padding: 10px 10px 15px 10px;
    margin: 0px;
}

div.main p:last-of-type {
    margin-bottom: 0px;
}
.nav {
    background-color: rgba(255, 255, 255, .85);
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}
.nav li {
    list-style: none;
    border-top: 1px solid #aaaaaa;
    padding-left: 0; 
    background: url(arrow.png) no-repeat right center;
    background-size: 8px 13px;
}
.nav li:first-child {
    border-top: none;
}
.nav a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    text-decoration: none;
}
.nav a span {
    display: block;
    max-width: 92%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.nav a span.cancelled {
    text-decoration: line-through;
    color: #666666;
}
.thumbnail {
    text-align: right;
}
.thumbnail img {
    max-width: 50%;
}
div.yellow {
    background-color: yellow;
}
.scheduled {
    background: url('./ic_calendar.png') no-repeat;
    background-size: 23px 25px;
    padding-left: 28px;
}
.hashTag {
    color: #444444;
    text-align: right; 
    font-size: small;
    padding-top: 6px;
    line-height: 45px;
}
p.notice {
    color: #444444;
    font-style: italic;
}
img {
	max-width: 100%;
}
.bio-picture {
    max-width: 50%;
}
.floatRight { float: right; }
.clear {
    clear: both;
}
.action-button {
    color: #3a4084;
    text-decoration: none;
}
.map-button {
    color: white;
    background-color: #5866C3;
    display: block;
    min-width: 90px;
    text-decoration: none;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
}
.hashTag .action-button {
    margin-left: 10px;
}
img.floatRight {
    margin-left: 10px;
}
.menu { margin: 0px; list-style-type: none; padding: 0px; }
.menu li span { display: block; font-size: small; }
.menu li { padding: 5px 0px; min-height: 35px; margin: 0px; }
.menu li:nth-child(even) { background-color: #C9CEED; }

.social-link {
    padding-left: 30px;
    min-height: 24px;
}

.social-link.twitter {
    background: url('./twitter-user-icon.png') left top no-repeat;
    background-size: 24px 24px;
}

.social-link a {
    text-decoration: none;
}

a {
    color: #5866C3;
}

.event-rank {
    color: #999999;
}