body { 
    background-color: rgba(0, 0, 0, 0);
    font-family:sans-serif;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    padding: 10px 10px 15px 10px;
}

html {
    min-height: 100%;
}
.valediction { text-align: right; }

div.main { padding: 10px; background-color: rgba(255, 255, 255, .9); }

div.main p:first-child {
    margin-top: 0px;
}

h2 { margin-top: 0px; }
h2 span { font-weight: normal; }
table.alternating { border: 1px solid black; background-color: white; border-spacing: 0px; }
table.alternating tr td, table.alternating tr th { padding: 8px; vertical-align: top; }
table.alternating tr:nth-child(even) td { background-color: #C9CEED; }
table.alternating tr th, table.schedule tr th { background-color: #505cb3; color: white; }
table.alternating tr:first-child th {  }
table.alternating tfoot td {
    text-align: center;
    border-top: 1px solid black;
}
table.schedule {
    border-spacing: 0px;
}
table.schedule td {
    padding: 0px 3px;
}
table.schedule tr td:nth-child(even) { text-align: right; white-space: nowrap; }
table.schedule tr:nth-child(even) td { background-color: #C9CEED; }
table.schedule tr:nth-child(odd) td { background-color: white; }
table.schedule { width: 100%; }
.floatRight { float: right; font-size: large; }
.callout { border: 1px solid black; padding: 5px; }
.callout h3 { margin-top: 0px; }
.dealerListing span { display: block; font-size: small; }
.dealerListing { padding: 10px 0px; }
.dealerListing:nth-child(even) { background-color: #C9CEED; }

a {
    color: #5866C3;
}

span.keyword {
	display: inline-block;
	border-radius: 35%/50%;
	height: 15px;
	background-color: #C9CEED;
	padding: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
	min-width: 25px;
	text-align: center;
}
